@font-face {
    font-family: "arimo";
    src: url("../fonts/arimo-regular-webfont.eot");
    src: url("../fonts/arimo-regular-webfont.eot?#iefix") format("embedded-opentype"),
    url("../fonts/arimo-regular-webfont.woff2") format("woff2"),
    url("../fonts/arimo-regular-webfont.woff") format("woff"),
    url("../fonts/arimo-regular-webfont.ttf") format("truetype"),
    url("../fonts/arimo-regular-webfont.svg#arimoregular") format("svg");
    font-weight: normal;
    font-style: normal;
}
table {
    text-transform: uppercase;
    vertical-align: middle;
    text-align: center;
    border: 24px solid rgb(55, 71, 101);
    color:  #484848;
    font-family: "arimo", sans-serif;
}
td, th {
    box-shadow: inset 0 -3px 6px -3px rgba(0, 0, 0, 0.27);
}
.first-column {
    padding: 38px 0;
    width: 198px;
}
.other-column {
    width: 157px;
}
.header-icon {
    color:  #848484;
    font-size: 24px;
}
.header-text-top{
    padding-top: 12px;
    font-size: 20px;
    font-weight: 700;
}
.header-text-bigger {
    font-size: 20px;
    font-weight: 700;
}
.header-text-smaller {
    font-size: 14px;
    font-weight: 700;
}

.first-column-title {
    color:  #ffffff;
    font-size: 24px;
    font-weight: 700;
    padding-top: 18px;
    padding-bottom: 22px;
}
.bg-green {
    background-color:  #89c331;
}
.bg-pink {
    background-color:  #f04a56;
}
.bg-ocean {
    background-color:  #20807c
}
.price {
    color:  white;
    font-size: 36px;
    font-weight: 700;
    padding-bottom: 22px;
}
.price-cent {
    font-size: 18px;
    vertical-align: top;
}
.price-details{
    font-size: 14px;
    vertical-align: middle;

}
.button {
    border-radius: 5px;
    width: 116px;
    text-align: center;
    border: none;
    padding: 14px;
    color:  #ffffff;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    margin-bottom: 22px;
    display: inline-block;
    text-shadow: 0  -1px 0 rgba(0,0,0,.5);
    transform: translate(0, 4px);
    box-shadow: 0 5px 0 #404040, 0 3px 15px rgba(0,0,0,.4), inset 0 1px 0 rgba(255,255,255,.1), inset 0 0 3px rgba(255,255,255,.3);
    background-color: #484848;
}
.button:hover {
    background: #545454;
    transition: all .2s ease-in-out;
}
.content-text {
    vertical-align: middle;
}
.content-text p {
    padding-top: 10px;
    font-size: 16px;
}
tr td:nth-child(2n) {
    background-color:  #e3e3e3;
}
tr th:nth-child(2n) {
    background-color:  #e3e3e3;
}
tr td:nth-child(2n+3) {
    background-color:  #f2f2f2;
}
tr th:nth-child(2n+3) {
    background-color:  #f2f2f2;
}
.bg-header {
    background-color:  #fafafa;
}