@font-face {
    font-family: "arimo";
    src: url("../fonts/arimo-regular-webfont.eot");
    src: url("../fonts/arimo-regular-webfont.eot?#iefix") format("embedded-opentype"),
    url("../fonts/arimo-regular-webfont.woff2") format("woff2"),
    url("../fonts/arimo-regular-webfont.woff") format("woff"),
    url("../fonts/arimo-regular-webfont.ttf") format("truetype"),
    url("../fonts/arimo-regular-webfont.svg#arimoregular") format("svg");
    font-weight: normal;
    font-style: normal;

}

.table {
    text-transform: uppercase;
    width: 1144px;
    vertical-align: middle;
    text-align: center;
    border: 24px solid rgb(55, 71, 101);
    color:  #484848;
    font-family: "arimo", sans-serif;
    margin: 0 auto;
}
.cells-shadow {
    box-shadow: inset -3px 0 6px -3px rgba(0, 0, 0, 0.27);
}
.first-column-text {
    padding-left: 7px;
}

.first-column {
    width: 310px;
    vertical-align: middle;
}
.other-column {
    width: 278px;
}
.header-text-bigger-white {
    font-size: 30px;
    font-weight: 700;
    color: white;
}
.header-text-bigger {
    font-size: 30px;
    font-weight: 700;
}
.header-text-smaller {
    font-size: 18px;
    font-weight: 700;
}
.header-text-middle {
    color:  #ffffff;
    font-size: 24px;
    font-weight: 700;
    padding: 26px 0;
}
.bg-header {
    background-color:  #fafafa
}
.bg-green {
    background-color:  #89c331;
}
.bg-pink {
    background-color:  #f04a56;
 }
.bg-ocean {
    background-color:  #20807c
}
.price-box {
    padding: 13px 28px;
}
.price {
    float: left;
}
.price-value {
    color:  #484848;
    font-size: 60px;
    font-weight: 700;
    text-align: left;
}

.price-cent {
    color:  #484848;
    font-size: 24px;
    font-weight: 700;
    padding-top: 5px;
    text-align: left;

}
.price-details-item {
    color:  #484848;
    font-size: 18px;
    padding-top: 5px;
}
.button {
    border-radius: 5px;
    width: 156px;
    text-align: center;
    border: none;
    padding: 18px;
    color:  #ffffff;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    margin: 30px auto;
    display: inline-block;
    text-shadow: 0  -1px 0 rgba(0,0,0,.5);
    transform: translate(0, 4px);
    position: relative;


}
.btn-grey {
    box-shadow: 0 6px 0 #404040, 0 3px 15px rgba(0,0,0,.4), inset 0 1px 0 rgba(255,255,255,.3), inset 0 0 3px rgba(255,255,255,.5);
    background-color: #484848;

}
.btn-grey:hover {
    background: #545454;
    transition: all .2s ease-in-out;
}
.btn-grey:active{
    transition: all 0.4s;
    top: 5px;
}

.bg-cell-btn-grey {
    background-color: #dedede;

}
.btn-green {
    box-shadow: 0 6px 0 #79b027, 0 3px 15px rgba(0,0,0,.4), inset 0 1px 0 rgba(255,255,255,.3), inset 0 0 3px rgba(255,255,255,.5);
    background-color: #89c331;
}
.btn-green:hover {
    background: #91ca39;
    transition: all .2s ease-in-out;
}
.btn-green:active{
    transition: all 0.4s;
    top: 5px;
}
.bg-cell-btn {
    background-color: #eeeeef;
}
.btn-pink {
    box-shadow: 0 6px 0 #df3a46, 0 3px 15px rgba(0,0,0,.4), inset 0 1px 0 rgba(255,255,255,.3), inset 0 0 3px rgba(255,255,255,.5);
    background-color: #f04a56;
}
.btn-pink:hover {
    background:  #fa5460;
    transition: all .2s ease-in-out;
}
.btn-pink:active{
    transition: all 0.4s;
    top: 5px;
}
.bg-cell-btn-pink {
    background-color: #f4f4f4;
}
.btn-ocean {
    box-shadow: 0 6px 0 #16736f, 0 3px 15px rgba(0,0,0,.4), inset 0 1px 0 rgba(255,255,255,.3), inset 0 0 3px rgba(255,255,255,.5);
    background-color: #20807c;
}
.btn-ocean:hover {
    background:   #349490;
    transition: all .2s ease-in-out;
}
.btn-ocean:active{
    transition: all 0.4s;
    top: 5px;
}
.cells td {
    padding-top: 28px;
    padding-bottom: 28px;
}
.cells:nth-child(2n+1) {
    background-color:  #f2f2f2;
}
.cells:nth-child(2n) {
    background-color:  #e3e3e3;

}